.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    justify-content: center;
    overflow: hidden;
    height: 50vh;

}
.stack{
    margin-top: 5px;
    /* background-color: aquamarine; */
    /* box-shadow: 5px 10px 5px black; */
}
.mystack{
    margin-left: 0%;
    margin: 10px 10px 10px 10px;
    border-bottom: 2px solid rgb(56, 56, 227);
    border-right: 3px solid blueviolet;
    width: 24%;
    box-shadow: 5px 8px 5px black;
    background-color:#9933ff;
    
}
.stack-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img{
    height: 75%;
}

#main{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.card{
    transition: all 2s ease-in-out;
}
.card:hover{
 transform: scale(1.1);
}
.about2{
    margin: 10px;
}
footer{
    display: flex;
    justify-content: end;
    z-index: 1;
    width: 100%;
    margin-bottom: 80px;
}
.big{
    color: rgb(158, 76, 234);
    text-decoration: solid;
    text-shadow: 1px 1.5px 1px #4dffff;
}
  